*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
    overflow-x: hidden;
}
  
  .c-item {
    height: 30vw;
    position: relative;
    overflow-y: hidden;
  }

  .c-img{
    transform: translateY(-4vw);
  }

  .c-img-2{
    transform: translateY(-13vw);
  
  }

  .c-img-3{
    transform: translateY(-7vw);
  }
  
  /* .sagano-insiders{
    z-index: 1;
    font-size: 10vw;
    color: #fff;
    position: absolute;
    transform: translateX(12vw) translateY(-13.3vw);
  } */

  .menProductDisplay, .womenProductDisplay{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 4vw;
  }


  .p-img{
    width: 15vw;
  }

  .imageHolder{
    margin: 0vw 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vw;
    overflow-y: hidden;
  }

  .products-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .title-item{
    font-size: 1vw;
  }



