*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 0.4vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3vw 2vw;
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  z-index: 2;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.015), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

nav .logo h1{
  font-size: 2vw;
  font-weight: 100;
}

nav .logo h1 a{
  text-decoration: none;
  color: #000;
}

.links{
  display: flex;
  gap: 2vw;
}

.links a{
  color: black;
  font-size: 1vw;
  letter-spacing: 0.2vw;
  text-decoration: none;
}

  
  .c-item {
    margin-top: 3.4vw;
    height: 30vw;
    position: relative;
    overflow-y: hidden;
  }

  .c-img{
    transform: translateY(-4vw);
  }

  .c-img-2{
    transform: translateY(-13vw);
  
  }

  .c-img-3{
    transform: translateY(-7vw);
  }
  
  .sagano-insiders{
    z-index: 1;
    font-size: 10vw;
    color: #fff;
    position: absolute;
    transform: translateX(12vw) translateY(-13.3vw);
  }

  .menProductDisplay, .womenProductDisplay{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-bottom: 4vw;
  }

  .catLabels{
    font-size: 1.2vw;
    margin: 2vw 0vw 1vw 3vw;
    font-weight: 800;
  }


  .p-img{
    width: 15vw;
  }

  .imageHolder{
    margin: 0vw 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vw;
    overflow-y: hidden;
  }

  .products-cards{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .title-item{
    font-size: 1vw;
  }

  footer{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.015), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center 90%;
    background-repeat: no-repeat;
    position: relative;
    padding: 1vw 3vw;
    backdrop-filter: blur(5px);
}

footer h1{
  font-size: 2vw;
}

.right{
    font-size: 0.8vw;
    display: flex;
    gap: 3vw;
}

  


