*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 0.4vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

  
  .c-item {
    height: 30vw;
    position: relative;
    overflow-y: hidden;
  }

  .c-img{
    transform: translateY(-4vw);
  }

  .c-img-2{
    transform: translateY(-13vw);
  
  }

  .c-img-3{
    transform: translateY(-7vw);
  }
  
  /* .sagano-insiders{
    z-index: 1;
    font-size: 10vw;
    color: #fff;
    position: absolute;
    transform: translateX(12vw) translateY(-13.3vw);
  } */

  .menProductDisplay, .womenProductDisplay{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4vw;
  }

  .catLabels{
    font-size: 1.2vw;
    margin: 2vw 0vw 1vw 3vw;
    font-weight: 800;
  }


  .p-img{
    width: 15vw;
  }

  .imageHolder{
    margin: 0vw 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vw;
    overflow-y: hidden;
  }

  .products-cards{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .title-item{
    font-size: 1vw;
  }

  


